body {
    background-color: #898952;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

li {
    font-style: italic;
}

.left {
    text-align: left;
}

ul {
    /* list-style: none; */
    text-align: left;
}

img {
    height: 400px;
    width: auto;
    margin: 0 auto;
}

.heading {
    background-color: #885053;
}